*.DS_Store
*/target/*
*/bin/*
*~
*.swp
/build
/target
.classpath
.project
.settings
*.aux
*.log
*.out
*.pdf
*.toc
*.lof

### IntelliJ with Maven project
*.iml
.idea/**/modules.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/libraries
.idea/**/gradle.xml
.idea/**/vcs.xml